---
export interface Props {
  date: string;
  description: string;
  title: string;
  url: string;
}

const { date, description, title, url } = Astro.props;
---

<div class="wrapper">
  <a class="title" href={url}><h3>{title}</h3></a>
  <time class="date">{date}</time>
  <p class="description">{description}</p>
  <a class="read-more" href={url}>Read the article ➡️</a>
</div>

<style>
  .date {
    font-size: 0.875rem;
    font-style: italic;
  }

  .description {
    font-size: 1rem;
  }

  .read-more {
    font-size: 1rem;
  }

  .title {
    font-size: 1.125rem;
  }

  .wrapper {
    background-color: #0f2435;
    border-radius: 10px;
    margin-bottom: 2rem;
    padding: 15px;
  }

  h3 {
    margin: 0;
  }

  a {
    text-decoration: none;
  }
</style>
